body{
    background-color:#333333;
    display:flex;
    flex-direction:column; 
}

nav{
    display:flex;
    /* flex-wrap:wrap; */
    justify-content: space-around;  
    align-items: center;
    background-color: white;
    margin:0;
    padding:0.2px;
    height: 50px;

}

.hamburger{
    width: 45px;
    height:45px; 
     
}

.logo {
    cursor:pointer;
    width: 100px;
    height:100px; 
}

.bell {

     cursor:pointer;
     width: 25px;
     height:25px; 

}
.searchloop{
    height:15px;
    width:15px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 4.5px;
    padding-top:4.8px;
    background-color: rgb(247, 240, 240);
    margin-top: 3px;
    border: solid 0.3px #333;
   
    
}

.search{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.nav-left{
    display:flex;
    align-items: center;
}

input{
    padding:3px 3px;
    width:20em;
}