body{
    background-color:#fefefe;
    display:flex;
    flex-direction:column; 
    margin: 0;
}

nav{
    display:flex;
    /* flex-wrap:wrap; */
    justify-content: space-around;  
    align-items: center;
    background-color: white;

    padding:0.2px;
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;


}

.hamburger{
    width: 45px;
    height:45px; 
     
}

.logo {
    cursor:pointer;
    width: 100px;
    height:100px; 
}

.bell {

     cursor:pointer;
     width: 25px;
     height:25px; 

}
.searchloop{
    height:15px;
    width:15px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 4.5px;
    padding-top:4.8px;
    background-color: rgb(247, 240, 240);
    margin-top: 3px;
    border: solid 0.3px #333;
   
    
}

.search{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.nav-left{
    display:flex;
    align-items: center;
}

input{
    padding:3px 3px;
    width:20em;
}

.main {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 20px 10px 20px 50px;
    justify-content: center;
    margin-top: 100px;
}

.left {
    margin-right: 30px;
}

.video-info {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 0;
}

.title-main {
    margin-bottom: 0;
    font-family: 'Lucida Sans', 'Times New Roman';
}

.video-info-left {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.video-info-left p {
    margin-right: 10px;
}

.video-info-right {
    display: flex;
    align-items: baseline;

}

.likes {
    margin-right: 10px;
}

.share-save {
    display: flex;
    margin-left: 50px;
}

.share-save p {
    margin-right: 15px;
}

.flag{
width:150px;
height:100px;

}

.right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.first-video, .second-video, .third-video {
    display:flex;
    margin-bottom:30px;
}

.Flags-info{
    line-height: 0.5em;
    font-size: 0.7em;
    margin-left: 20px;
}

.Flags-info h2{

      line-height: 1em;
}